#calculator {
  border: 2px solid black;
  height: 600px;
  width: 400px;
  margin: 50px auto;
  border-radius: 20px;
  background-color: rgb(247, 237, 225);
}

#display {
  background-color: white;
  padding: 20px;
  width: 80%;
  border-radius: 20px;
  margin-top: 10px;
}

#buttonstyle {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10px;
  
}

.buttonstyle {
  height: 60px;
  width: 100px;
  margin: 3px;
 background-color: white;
 color: black;
 border-radius: 40%;
 background-color: rgb(243, 194, 134);
  
}
