{%extends 'base.html'%}

{%block body%}
<h1>Well come to table page</h1>

<table border="2px solid balck" align="center" cellpadding="10" cellspacing="10">
    <tr>
        <th>Name</th>
        <th>email</th>
        <th>Age</th>
        <th colspan="2">Phone</th>
    </tr>
    <tr>
        <td>Jenil</td>
        <td>Jenil@hgamil.com</td>
        <td>22</td>
        <td>9474871245</td>
        <td>4184145514</td>
    </tr>
    <tr>
        <td>Gajjar</td>
        <td>gajjar@hgamil.com</td>
        <td>20</td>
        <td>9474871245</td>
        <td>4184145514</td>
    </tr>
    <tr>
        <td>om</td>
        <td>om@hgamil.com</td>
        <td>24</td>
        <td>9474871245</td>
        <td>4184145514</td>
    </tr>
    <tr>
        <td>meet</td>
        <td>meet@hgamil.com</td>
        <td>23</td>
        <td>9474871245</td>
        <td>4184145514</td>
    </tr>
</table>

{%endblock%}